<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PRINCIPAL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="{{url_for('static', filename='css/principal.css')}}">

</head>

<body>

    <div class="wrapper" onclick="location.href='/vistaCliente'">
        <div class="bg">
            <div class="content1">
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text"> ADMIN CLIENTES</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="bg">
            <div class="content2">
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text">Click Me!</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="bg">
            <div class="content3">
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text">Click Me!</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="bg">
            <div class="content4">
                <p>ADMINISTRAR CLIENTES</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text">Click Me!</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="bg">
            <div class="content5">
                <p>ADMINISTRAR CLIENTES</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text">Click Me!</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="bg">
            <div class="content5">
                <p>ADMINISTRAR CLIENTES</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="cube spin">
                <div class="face front text">Click Me!</div>
                <div class="face back text">
                    <div class="msg success">Wewt!</div>
                    <div class="msg fail">Fail =/</div>
                </div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>

</body>

</html>