{% extends "cabazera.html" %} {% block body %}
<div class="row">
    <div class="col-md-3" style="margin-left: -15%;">

        <div class="card card-body" style="margin-left: -20%;">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <form method="POST" action="/addProducto" onsubmit=" return  validarIngresoProducto()">
                <h5 class="card-title bg-white">CREACION DE PRODUCTOS</h5>
                <div class="form-group">
                    <input class="form-control" type="text" id="codigo" name="codigo" autocomplete="off" value="" placeholder="Codigo" onkeyup="validarLetras(this)" onkeypress="makeCode(this)" />
                </div>
                <div id="qrcode" style="width:100px; height:100px; margin-top:15px;" title="http://jindo.dev.naver.com/collie"><canvas width="100" height="100" style="display: none;"></canvas><img style="display: block;"></div>
                <div class="form-group"><br><br>
                    <input class="form-control" type="text" id="nombre" name="nombre" value="" placeholder="Nombre" onkeypress="return soloLetras(event)" onkeyup="validarLetras(this)" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" step="0.01" id="precio" name="precio" value="" placeholder="Precio" onkeydown="return soloDecimales(event, this)" onkeyup="validarDecimales(this)" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" id="stock" name="stock" value="" placeholder="Stock" onkeydown="return soloNumeros(event, this)" onkeyup=" return validarStock(this,1)" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="number" step="0.01" id="descuento" name="descuento" value="" placeholder="Descuento" onkeydown="return soloDecimales(event, this)" onkeyup="validarDecimales(this)" />
                </div>

                <button class=" btn btn-primary btn-block ">
                    GUARDAR
                </button>
            </form>
            <div id="alertError">

            </div>

        </div>
    </div>

    <div class="col-md-9">

        <div class="card card-body" style="margin-right: -30%;">
            <div class="active-pink-3 active-pink-4 mb-4">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 100%"><input name="buscar" id='buscarProducto' onkeyup="cargarBusquedaProducto()" class="form-control" type="text" placeholder="Buscar, Ingresar Id, Codigo o Nombre" aria-label="Buscar, Ingresar Cedula"></th>
                            <th><button type="button" class="btn btn-outline-danger" onclick="window.location.href='/vistaProductos'">X</button></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <table class="table table-striped table-dark table-sm">
                <thead>
                    <tr>

                        <td>ID</td>
                        <td>CODIGO</td>
                        <td>NOMBRE</td>
                        <td>PRECIO</td>
                        <td>STOCK</td>
                        <td>DESCUENTO</td>
                        <td>OPCIONES</td>
                    </tr>
                </thead>
                <tbody id='filas'>
                    {% for pro in productos %}
                    <tr>
                        <td>{{pro.0}} </td>
                        <td>{{pro.4}}</td>
                        <td>{{pro.1}}</td>
                        <td>{{pro.2}}</td>
                        <td>{{pro.3}}</td>
                        <td>{{pro.5}}</td>
                        <td>
                            <a class="btn btn-secondary" data-toggle="modal" onclick="cargarDatosProductos('{{pro.0}}')" data-target="#exampleModalLong">EDITAR</a>
                            <a href="/eliminarProducto/{{pro.0}} " onclick="confirmarEliminacion('PRODUCTO',event)" class=" btn btn-danger btn-delete ">ELIMINAR</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">EDITAR USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body" name="modal">
                <div class="row">
                    <div class="card card-body">
                        <form method="POST" action="/actualizarProducto" onsubmit=" return  validarEditarProducto()">
                            <h5 class="card-title bg-white">CREACION DE PRODUCTOS</h5>
                            <div class="form-group">
                                <input class="form-control" type="text" id="idE" name="idE" value="" hidden>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" id="codigoE" name="codigoE" value="" placeholder="Codigo" onkeyup="validarLetras(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="nombreE" name="nombreE" value="" placeholder="Nombre" onkeypress="return soloLetras(event)" onkeyup="validarLetras(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" id="precioE" name="precioE" value="" placeholder="Precio" onkeydown="return soloDecimales(event, this)" onkeyup="validarDecimales(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" id="stockE" name="stockE" value="" placeholder="StockE" onkeydown="return soloNumeros(event, this)" onkeyup=" return validarStock(this,1)" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" id="descuentoE" name="descuentoE" value="" placeholder="Descuento" onkeydown="return soloDecimales(event, this)" onkeyup="validarDecimales(this)" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
                            </div>

                        </form>
                    </div>

                </div>
                <div id="alertErrorE">
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}