{% extends "cabazera.html" %} {% block body %}

<div class="card border-dark " style="width: 115%;">
    <div class="card-header">
        <ul class="nav nav-pills bg-dark mb-0" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">CREAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="cargarFacturasL()" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">LISTAR</a>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">

            <!-- <h5 class="card-title bg-white text-success mb-1" align="center">CABECERA</h5>-->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="max-width: 100rm;">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 100%">
                                <input name="buscar" id='buscar' onkeyup="cargarDatosEnter(event)" onkeypress="cargarBusquedaLista()" class="form-control" type="text" placeholder="Buscar Cliente, Ingresar Cedula, Nombre o Apellido" value="0105452171"></th>
                            <th><button type="button" class="btn btn-outline-danger" onclick="window.location.href='/vistaFactura'">X</button></th>
                        </tr>
                    </thead>
                </table>
                <div class="mb-2"></div>
                <div class="card-deck ">
                    <div class="card mb-1" style="max-width: 21rem;">
                        <label id="idU" name="idU" hidden></label>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblCedula">Cedula</span>
                            </div>
                            <label type="text" class="form-control" name="cedula" id="cedula" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblNombre">Nombre</span>
                            </div>
                            <label type="text" class="form-control" name="nombre" id="nombre" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblNombre">Apellido</span>
                            </div>
                            <label type="text" class="form-control" name="apellido" id="apellido" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="card  mb-1" style="max-width: 20rem;">
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblCedula">Telefono</span>
                            </div>
                            <label type="text" class="form-control" name="telefono" id="telefono" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblNombre">Dirección</span>
                            </div>
                            <label type="text" class="form-control" name="direccion" id="direccion"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblNombre">Correo </span>
                            </div>
                            <label type="text" class="form-control" name="correo" id="correo" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="card  mb-1" style="max-width: 20rem;">
                        <div class="input-group mb-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lblCedula">FECHA</span>
                            </div>
                            <label type="text" class="form-control" name="fecha" id="fecha" aria-label="Username"
                                aria-describedby="basic-addon1">
                                <script>
                                    n = new Date();
                                    y = n.getFullYear();
                                    m = n.getMonth() + 1;
                                    d = n.getDate();
                                    document.getElementById("fecha").innerHTML = d + "/" + m + "/" + y;
                                </script>
                        </div>
                        <div class="mb-4"></div>
                        <button class=" btn btn-success btn-block " onclick="cargarCosumidorFinal()">
                            CONSUMIDOR FINAL
                        </button>
                        <button class=" btn btn-secondary btn-block " onclick="limpiarFactura()"> LIMPIAR
                        </button>
                    </div>
                </div>
                <hr style=" border-top: 1px dashed red;" />
                <div class="card text-white  mb-0" style="max-width: 100rem;">
                    <div class="card-header text-success">
                        <h5 class="card-title   mb-1" align="center">DETALLE</h5>
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 83%"><input name="buscarPro" id='buscarPro'
                                            onkeyup="cargarBusquedaProLista()" class="form-control" type="text"
                                            placeholder="Buscar Producto, Ingresar Id, Nombre o Codigo"
                                            aria-label="Buscar, Ingresar Cedula"></th>
                                    <th><input name="buscarQR" id='buscarProQR' value="holahola"
                                            onkeypress="cargarBusquedaProQR(event,this)" class="form-control"
                                            type="text" placeholder="Buscar por codigo QR"></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    <table class="table" name="tablaDetalle" id="tablaDetalle">
                                        <input id="idProd" name="idPro" hidden>
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">CODIGO</th>
                                                <th scope="col">CANTIDAD</th>
                                                <th scope="col">DESCRIPCION</th>
                                                <th scope="col">DESCUENTO</th>
                                                <th scope="col">IVA</th>
                                                <th scope="col">PRECIO UNIT.</th>
                                                <th scope="col">PRECIO TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody style="height: 250px;" style="overflow-x: hidden;"
                                            style="overflow-y: scroll">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-2">
                                    <br><br><br><br>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lblNombre">SUB.TOTAL</span>
                                        </div>
                                        <label style="width: 100px;" type="text" class="form-control" name="subtotal"
                                            id="subtotal" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lblNombre">IVA</span>
                                        </div>
                                        <label type="text" class="form-control" name="iva" id="iva"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lblNombre">TOTAL</span>
                                        </div>
                                        <label type="text" class="form-control" name="total" id="total"
                                            aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-1">
                                        <button class=" btn btn-success btn-block " onclick="guardarFactura()">
                                            GUARDAR / IMPRIMIR
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <table class="table table-striped table-dark table-sm">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>FECHA</td>
                                <td>CEDULA CLIENTE</td>
                                <td>CLIENTE</td>
                                <td>IVA</td>
                                <td>SUBTOTAL</td>
                                <td>TOTAL</td>
                                <td>VER DETALLE</td>
                            </tr>
                        </thead>
                        <tbody id='filas'>
                            
                        </tbody>
                    </table>
                </div><br>
                <h5 class="card-title   mb-1" align="center">DETALLE</h5>
                    <table class="table table-striped  table-sm">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>CANTIDAD</td>
                                <td>PRODUCTO</td>
                                <td>DESCUENTO</td>
                                <td>IVA</td>
                                <td>PRECIO</td>
                                <td>TOTAL</td>
                            </tr>
                        </thead>
                        <tbody id='filasDetalle'>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalCantidad" name="modalCantidad">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">INGRESE CANTIDAD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title bg-white text-success mb-1" align="center" id="infoDet" name="infoDet">
                    DETALLE</h5>
                <div class="form-group">
                    <input class="form-control" type="number" id="stock" name="stock" value="" placeholder="Stock"
                        onkeydown="return soloNumeros(event, this)" onkeyup=" return validarStock(this,1)" />
                </div>
            </div>
            <div id="alertError">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="validarCantidaStock()">CONTINUAR</button>
                <button type="button" class="btn btn-secondary" onclick="borrarFila()"
                    data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="crearUsuario" name="crearUsuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CREAR USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" name="modal">
                <div class="row">
                    <div class="card card-body">
                        <form id="formularioEditar" method="POST" action="/usuarioFactura">
                            <div class="form-group">
                                <input class="form-control" type="text" id="idE" name="idE" value="" hidden>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" id="cedulaE" name="cedulaE" value=""
                                    placeholder="Cedula" onkeydown="return soloNumeros(event, this)"
                                    onkeyup="validarCedula(this)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="nombresE" name="nombresE" value=""
                                    placeholder="Nombres" onkeypress="return soloLetras(event)"
                                    onkeyup="validarLetras(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="apellidosE" name="apellidosE" value=""
                                    placeholder="Apellidos" onkeypress="return soloLetras(event)"
                                    onkeyup="validarLetras(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="direccionE" name="direccionE" value=""
                                    placeholder="Dirección" onkeyup="validarLetras(this)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="telefonoE" name="telefonoE" value=""
                                    placeholder="Teléfono" onkeydown="return soloNumeros(event, this)"
                                    onkeyup=" return validarCantidad(this,10)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="correoE" name="correoE" value=""
                                    placeholder="Correo" onkeyup=" validarCorreo(this) " />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="fechaNacE" id="fechaNacE"
                                    placeholder="Ingrese su fecha de nacimiento" onchange="validarFecha(this)">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="validarFactruaCliente()">GUARDAR</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div id="alertErrorE">
                </div>
            </div>
        </div>

    </div>
</div>
<div hidden id="qrcode" style="width:150px; height:150px; margin-top:15px;" title="http://jindo.dev.naver.com/collie">
    <canvas width="100" height="100" style="display: none;"></canvas><img style="display: block;"></div>

{% endblock %}